.navbar_contenedor{
    background-color: #F8F9FA !important;
    color: rgb(0, 0, 0) !important;
    
    a{
        color: rgb(8, 8, 8);
        font-weight: 600;
    }
    .dropdown-menu{
        background-color: rgba(240, 248, 255, 0.137);
    }
    .navbar-toggler-icon{
        background-color: #f4f4f438;
        border-radius: 4rem;
    }
    .nav-item{
        margin: auto;
        padding-left: 5rem;
    }
    .cont-a{
        flex-direction: row;
        display: flex !important;
        flex-basis: auto;
        align-items: baseline;
        justify-content: center;
        align-content: space-around;
        /* flex-wrap: nowrap; */
        margin: auto;
    }
}
@media (max-width:700px) {
    .navbar_contenedor{.nav-item{
        padding-left:0rem;
    }
}
    
    
}