<div class="contenedor_primer_panel">
    <div class="contenedor_h1">
      <h1>Contactanos</h1>
    </div>
  
    <div class="card card_contenedor text-center">
      <!-- <div class="card-header">
            Featured
          </div> -->
      <div class="card-body">
        <h5 class="card-title">Comunicate por mail en la siguiente direccion</h5>
        <p class="card-text">
          @gmail.trader.com
          @gmail.trader.com
          @gmail.trader.com
        </p>
        <!-- <a routerLink="evaluaciones" class="btn btn-primary">Empezar Prueba</a> -->
      </div>
      <!-- <div class="card-footer text-muted">
            2 days ago
          </div> -->
    </div>
  </div>
