<div class="contenedor_primer_panel">
  <div class="contenedor_h1">
    <h1>Operativa / FAQ </h1>
  </div>
  <div class="card card_contenedor text-center">
    <!-- <div class="card-header">
            Featured
          </div> -->
    <div class="card-body">
      <h5 class="card-title">FAQ</h5>
      <p class="card-text">
        FAQ
Estas son algunas de las preguntas más frecuentes junto con mas información adicional sobre la operativa a la hora de utilizar nuestras señales    </p>
      
    </div>
    <!-- <div class="card-footer text-muted">
            2 days ago
          </div> -->
  </div>
</div>
<!-- <div class="contenedor_segundo_panel">
  <hr style="width: 80%; box-shadow: 10px black" />
  <div class="container1">
    <table>
      <thead>
        <tr>
          <th class="subtitulos-tabla" style="background-color: white">Planes</th>
          <th >30$</th>
          <th>60$</th>
          <th>90$</th>
          <th>120$</th>
          <th>150$</th>
          <th>200$</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="subtitulos-tabla">Dias</td>
          <td>30</td>
          <td>60</td>
          <td>90</td>
          <td>120</td>
          <td>180</td>
          <td>240</td>
        </tr>
        
      </tbody>
    </table>
  </div>
</div> -->
<!-- <div class="contenedor_cuarto_panel">
  <div class="table">
    <div class="table-cell"></div>
    <div class="table-cell plattform">
      <h3>Forex</h3>
      <a [routerLink]="['/pay']" class="btn">Obtener</a>
    </div>
    <div class="table-cell enterprise">
      <h3>Cripto & Forex</h3>
      <a [routerLink]="['/pay']" class="btn">Obtener</a>
    </div>
    <div style="font-weight:bold ;"  class="table-cell cell-feature">Canal de Comunicacion</div>
    <div class="table-cell">
      <p>
        Telegram
      </p>
    </div>
    <div class="table-cell">
      <p>
        Telegram
      </p>
    </div>
    <div style="font-weight:bold ;" class="table-cell cell-feature">Dias por paquete</div>
    <div class="table-cell">
      <p>30 dias</p>
    </div>
    <div class="table-cell">
      <p>30 dias</p>
    </div>
    <div style="font-weight:bold ;" class="table-cell cell-feature">Recomendacion de lotaje</div>
    <div class="table-cell">
      <p>0.5%</p>
    </div>
    <div class="table-cell">
      <p style="font-weight:600;">Por trade</p>
    </div>
    <div style="font-weight:bold ;" class="table-cell cell-feature">Temporalidad</div>
    <div class="table-cell">
      <p>Swing/Intraday</p>
    </div>
    <div class="table-cell">
      <p>Swing/Intraday</p>
    </div>
    <div style="font-weight:bold ;" class="table-cell cell-feature">Sesion</div>
    <div class="table-cell">
      <p>London</p>
    </div>
    <div class="table-cell">
      <p>24/7 & London</p>
    </div>
    <div style="font-weight:bold ;" class="table-cell cell-feature">Ratio minimo</div>
    <div class="table-cell">
      <p>1/3 RR</p>
    </div>
    <div class="table-cell">
      <p>1/3 RR</p>
    </div>
    <div style="font-weight:bold ;" class="table-cell cell-feature">Precio </div>
    <div class="table-cell">
      <p style="font-size: 1.5rem;font-weight:bold">$30</p>
    </div>
    <div class="table-cell">
      <p style="font-size: 1.9rem;font-weight:bold">$50</p>
    </div>
    
  </div>
</div>
<!-- <div class="contenedor_quinto_panel">
  <div class="contenedor_h1">
    <h1>Reparto de Utilidades</h1>
  </div>

  <div class="card card_contenedor text-center">
    <div class="card-header">
            Featured
          </div>
    <div class="card-body">
      <h5 class="card-title">Una vez usted sea fondeado el reparto de las utilidades será el siguiente:</h5>
      <p class="card-text">
        
Los beneficios logrados con el capital inicial se repartirá el 85% de las ganancias
para el contratado y 15% para la empresa.
Los retiros se harán una vez al mes y luego del primer mes se le permitirá retirar
una vez cada 15 dias.
      </p>
      
    </div>
    <div class="card-footer text-muted">
            2 days ago
          </div>
  </div>
</div> -->
<!-- <div class="contenedor_tercer_panel">
  <hr style="width: 80%" />
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Regla 1</h5>
          <h5 class="card-title">5% DE REDUCCIÓN DIARIA</h5>
          <p class="card-text">
            No puede tener una reducción del saldo inicial o capital actual de
            más del 5% dentro de un periodo de 24 horas a partir de las 05:00 pm
            EST.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Regla 2</h5>
          <h5 class="card-title">10% DE REDUCCIÓN GENERAL</h5>
          <p class="card-text">
            No puede tener una reducción general del capital inicial o actual
            que represente el 10%.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Regla 3</h5>
          <h5 class="card-title">8% DE BENEFICIO EN LA FASE 1</h5>
          <p class="card-text">
            Debe alcanzar un objetivo de ganancias del 6% sin infringir ninguna
            de las otras reglas dentro de un periodo de 30 dias calendario. Su
            tiempo comienza una vez se le haya otorgado la evaluacion.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Regla 4</h5>
          <h5 class="card-title">3% DE BENEFICIO EN LA FASE 2</h5>
          <p class="card-text">
            Debe alcanzar un objetivo de ganancias del 3% sin infringir ninguna
            de las otras reglas dentro de un periodo de 45 días calendario. Su
            tiempo comienza una vez se le haya otorgado la evaluación.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Regla 5</h5>
          <h5 class="card-title">MINIMO 10 DIAS DE NEGOCIACIÓN</h5>
          <p class="card-text">
            Debe operar un mínimo de 10 días hábiles para pasar la evaluación.
            Realmente queremos asegurarnos que tiene la capacidad de ser
            paciente y nos muestra sus hábitos de compraventa de divisas.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="linea"></div>
</div>
 --> 
<div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        ¿Cómo puedo unirme al grupo VIP?
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Tienes que comprar tu suscripción en el área Servicios, donde puedes elegir un plan mensual, trimestral o vitalicio.

        Una vez realizado el pago, recibirás un correo electrónico confirmando tu suscripción y otro con el enlace de acceso a Telegram del servicio que hayas elegido (comprueba también tu buzón de spam).</div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        ¿Qué métodos de pago puedo utilizar?
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Las suscripciones VIP se pueden pagar con:

        
        -Skrill
        -USDT (TRC20)</div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
        ¿Qué incluye el servicio VIP?
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Mientras que en el canal gratuito enviamos 2-3 señales semanales de Crypto/Forex, en cada grupo VIP enviamos 15-20 señales semanales.

        Además, los grupos VIP incluyen:
        
        -Auto trading compatible.
        -Atención personalizada.
        -Una guía completa para seguir nuestras señales paso a paso, escrita en inglés y español
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingFour">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
        Soy NUEVO y quiero aprender desde cero
      </button>
    </h2>
    <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">¡No te preocupes! Muchos clientes han estado invirtiendo con nosotros durante mucho tiempo y comenzaron desde cero.

        Tenemos tres guías en el área Comenzar, una para Forex, otra para Crypto Futures y otra para Crypto Spot, con el fin de que puedas aprender todo sobre estos mercados financieros y también a seguir nuestras señales de manera exitosa.</div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingFive">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
        ¿Hay un período de prueba gratuito?
      </button>
    </h2>
    <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">¡Por supuesto! Queremos que nuestros clientes puedan probar nuestras señales y análisis antes de comprar la suscripción VIP, por lo que enviamos 3-4 señales semanales en el grupo gratuito y los informes semanales de cada grupo VIP.

        Además, también encontrarás opiniones de clientes de las últimas señales VIP y vídeos de los canales VIP desde dentro.
        
        Únete al canal gratuito</div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingSix">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
        ¿A qué hora enviaís las señales?
      </button>
    </h2>
    <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Nos aseguramos de que nuestros clientes de todo el mundo puedan invertir todas las señales que enviamos, por eso las enviamos a lo largo de todo el día, aunque tenemos la mayor parte de actividad de 10am a 10pm en la zona horaria UTC+1.

        Además, el problema de la zona horaria se puede resolver utilizando los bots de Auto trading que puedes conectar en ambos canales VIP.</div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingSeven">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
        ¿Dónde puedo ver tus resultados?
      </button>
    </h2>
    <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Publicamos nuestros resultados semanales y mensuales en el Grupo de Stats.

        Las ganancias son indicativas y pueden diferir entre los diferentes traders, dependiendo de la estrategia que utilices y el riesgo que quieras asumir.</div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-heading8">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse8" aria-expanded="false" aria-controls="flush-collapse8">
        ¿Cómo puedo confiar en tus resultados?
      </button>
    </h2>
    <div id="flush-collapse8" class="accordion-collapse collapse" aria-labelledby="flush-heading8" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">WolfxSignals ha estado activo como empresa desde 2019, y todos nuestros analistas han estado operando en los mercados financieros durante más de 6 años.

        Además, KNG siempre se ha caracterizado por ser transparente, enviando señales en el canal Gratuito para que todos los miembros puedan probarlas antes de unirse a los grupos VIP.</div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-heading9">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse9" aria-expanded="false" aria-controls="flush-collapse9">
        ¿Cómo utilizar los 3 Take Profits?
      </button>
    </h2>
    <div id="flush-collapse9" class="accordion-collapse collapse" aria-labelledby="flush-heading9" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">La ventaja de usar 3 Take Profits es que cada cliente puede usar su propia estrategia y administrar el riesgo que quiere tomar de la mejor manera posible.

        Además, en las guías del área Comenzar, te explicamos algunas de las estrategias más utilizadas y las que puedes aplicar para gestionar los Take Profits.
        
        Si eres miembro VIP puedes solicitar una gestión personalizada de Take Profits, para asegurarte de que el riesgo que estás asumiendo es el correcto.</div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-heading10">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse10" aria-expanded="false" aria-controls="flush-collapse10">
        ¿Cuánto dinero puedo ganar?
      </button>
    </h2>
    <div id="flush-collapse10" class="accordion-collapse collapse" aria-labelledby="flush-heading10" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Las ganancias de nuestros clientes no siempre son las mismas para todos. Si bien tenemos clientes que ganan más de $1000 semanales, hay otros que ganan entre $50 y $100 cada semana. Esto se debe a que las ganancias dependen de dos factores: Capital Invertido y Riesgo.

        -Capital: aunque recomendamos empezar con más de $100, puedes comenzar con una cantidad menor siempre y cuando te sientas cómodo con las primeras señales que has invertido con nosotros.
        
        -Riesgo: el riesgo será trascendental para tus ganancias. Cuanto más riesgo asumas, mayores serán tus beneficios, pero también lo serán tus pérdidas, por lo que gestionar bien los 3 Take Profits y el Stop Loss (como explicamos en las guías) es fundamental.
        
        ⚠️Recuerda que contarás con asesoría personalizada en gestión de riesgos si eres miembro VIP.</div>
  </div>
</div>