<div class="contenedor_primer_panel">
  <div class="contenedor_h1">
    <h1>Evaluación de financiamiento para forex</h1>
  </div>
  <div class="card card_contenedor text-center">
    <!-- <div class="card-header">
            Featured
          </div> -->
    <div class="card-body">
      <h5 class="card-title">Bienvenido</h5>
      <p class="card-text">
        Nuestro sistema de evaluación no está pensado para que pierdas tu
        dinero, ni tu tiempo, por eso es que si tu no consigues el objetivo
        propuesto anteriormente, nos encargaremos individualmente de revisar tu
        cuenta y si el manejo de la misma fue adecuado te regresaremos tu
        inversión o te ofreceremos una nueva cuenta !
      </p>
      <a href="#" class="btn btn-primary">Empezar Prueba</a>
    </div>
    <!-- <div class="card-footer text-muted">
            2 days ago
          </div> -->
  </div>
</div>
<div class="contenedor_segundo_panel">
  <hr style="width: 80%; box-shadow: 10px black" />
  <div class="container1">
    <table>
      <thead>
        <tr>
          <th style="background-color: white">Propiedades</th>
          <th>$10000</th>
          <th>$20000</th>
          <th>$50000</th>
          <th>$100000</th>
          <th>$200000</th>
          <th>$300000</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Objetivo</td>
          <td>Fase I</td>
          <td>Fase de Evaluación</td>
          <td>6% Fase II</td>
          <td>– Fase de</td>
          <td>Establecimiento</td>
          <td>= 3%</td>
        </tr>
        <tr>
          <td>Dias minimos de negociacion</td>
          <td></td>
          <td></td>
          <td>10</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Drawdon diario inicial</td>
          <td></td>
          <td></td>
          <td>5%</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Reducion general</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Apalancamiento disponible</td>
          <td></td>
          <td></td>
          <td>:1:100</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Tarifa de registro reembolsable</td>
          <td></td>
          <td></td>
          <td>(Valor del mismo)</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Cargos mensuales</td>
          <td></td>
          <td></td>
          <td>Sin cargos mensuales</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="contenedor_cuarto_panel">
  <div class="table">
    <div class="table-cell"></div>
    <div class="table-cell plattform">
      <h3>$ 200.000</h3>
      <a href="" class="btn">Obtener</a>
    </div>
    <div class="table-cell enterprise">
      <h3>$ 300.000</h3>
      <a href="" class="btn">Obtener</a>
    </div>
    <div style="font-weight:bold ;"  class="table-cell cell-feature">Objetivo</div>
    <div class="table-cell">
      <p>
        Fase 1 -fase de evaluacion = 6% <br />
        Fase II -Fase de establecimiento = 3 %
      </p>
    </div>
    <div class="table-cell">
      <p>
        Fase 1 -fase de evaluacion = 6% <br />
        Fase II -Fase de establecimiento = 3 %
      </p>
    </div>
    <div style="font-weight:bold ;" class="table-cell cell-feature">Dias mínimos de negociación</div>
    <div class="table-cell">
      <p>5 dias</p>
    </div>
    <div class="table-cell">
      <p>5 dias</p>
    </div>
    <div style="font-weight:bold ;" class="table-cell cell-feature">Drawdown diario inicial</div>
    <div class="table-cell">
      <p>5%</p>
    </div>
    <div class="table-cell">
      <p>5%</p>
    </div>
    <div style="font-weight:bold ;" class="table-cell cell-feature">Reducción general</div>
    <div class="table-cell">
      <p>$30.000</p>
    </div>
    <div class="table-cell">
      <p>$30.000</p>
    </div>
    <div style="font-weight:bold ;" class="table-cell cell-feature">Apalancamiento disponible</div>
    <div class="table-cell">
      <p>1:100</p>
    </div>
    <div class="table-cell">
      <p>1:100</p>
    </div>
    <div style="font-weight:bold ;" class="table-cell cell-feature">Tarifa de registro reembolsablee</div>
    <div class="table-cell">
      <p>1.180 USD</p>
    </div>
    <div class="table-cell">
      <p>1.180 USD</p>
    </div>
    <div style="font-weight:bold ;" class="table-cell cell-feature">cargos mensuales</div>
    <div class="table-cell">
      <p>Sin cargos mensuales</p>
    </div>
    <div class="table-cell">
      <p>Sin cargos mensuales</p>
    </div>
  </div>
</div>
<div class="contenedor_quinto_panel">
  <div class="contenedor_h1">
    <h1>Reparto de Utilidades</h1>
  </div>

  <div class="card card_contenedor text-center">
    <!-- <div class="card-header">
            Featured
          </div> -->
    <div class="card-body">
      <h5 class="card-title">Una vez usted sea fondeado el reparto de las utilidades será el siguiente:</h5>
      <p class="card-text">
        
Los beneficios logrados con el capital inicial se repartirá el 85% de las ganancias
para el contratado y 15% para la empresa.
Los retiros se harán una vez al mes y luego del primer mes se le permitirá retirar
una vez cada 15 dias.
      </p>
      
    </div>
    <!-- <div class="card-footer text-muted">
            2 days ago
          </div> -->
  </div>
</div>
<div class="contenedor_tercer_panel">
  <hr style="width: 80%" />
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Regla 1</h5>
          <h5 class="card-title">5% DE REDUCCIÓN DIARIA</h5>
          <p class="card-text">
            No puede tener una reducción del saldo inicial o capital actual de
            más del 5% dentro de un periodo de 24 horas a partir de las 05:00 pm
            EST.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Regla 2</h5>
          <h5 class="card-title">10% DE REDUCCIÓN GENERAL</h5>
          <p class="card-text">
            No puede tener una reducción general del capital inicial o actual
            que represente el 10%.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Regla 3</h5>
          <h5 class="card-title">8% DE BENEFICIO EN LA FASE 1</h5>
          <p class="card-text">
            Debe alcanzar un objetivo de ganancias del 6% sin infringir ninguna
            de las otras reglas dentro de un periodo de 30 dias calendario. Su
            tiempo comienza una vez se le haya otorgado la evaluacion.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Regla 4</h5>
          <h5 class="card-title">3% DE BENEFICIO EN LA FASE 2</h5>
          <p class="card-text">
            Debe alcanzar un objetivo de ganancias del 3% sin infringir ninguna
            de las otras reglas dentro de un periodo de 45 días calendario. Su
            tiempo comienza una vez se le haya otorgado la evaluación.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Regla 5</h5>
          <h5 class="card-title">MINIMO 10 DIAS DE NEGOCIACIÓN</h5>
          <p class="card-text">
            Debe operar un mínimo de 10 días hábiles para pasar la evaluación.
            Realmente queremos asegurarnos que tiene la capacidad de ser
            paciente y nos muestra sus hábitos de compraventa de divisas.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="linea"></div>
</div>

