<div class="contenedor_primer_panel">
  <div class="contenedor_h1">
    <h1>Operativa / FAQ </h1>
  </div>
  <div class="card card_contenedor text-center">
    <!-- <div class="card-header">
            Featured
          </div> -->
    <div class="card-body">
      <h5 class="card-title">FAQ</h5>
      <p class="card-text">
        FAQ
Estas son algunas de las preguntas más frecuentes junto con mas información adicional sobre la operativa a la hora de utilizar nuestras señales    </p>
      
    </div>
    <!-- <div class="card-footer text-muted">
            2 days ago
          </div> -->
  </div>
</div>

<div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        ¿Cómo puedo unirme al grupo VIP?
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Tienes que comprar tu suscripción en el área Servicios, donde puedes elegir un plan mensual, trimestral o vitalicio.

        Una vez realizado el pago, comunicate por WhatsApp al siguiente numero : +54 9 3517582763 o Mail :  kngsignals@gmail.com con comprobante de pago o  captura de pantalla para continuar el proceso </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        ¿Qué métodos de pago puedo utilizar?
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Las suscripciones VIP se pueden pagar con:

        
        -Skrill
        -USDT (TRC20)</div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
        ¿Qué incluye el servicio VIP?
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Mientras que en el canal gratuito enviamos 2-3 señales semanales de Crypto/Forex, en cada grupo VIP enviamos 15-20 señales semanales.

        Además, los grupos VIP incluyen:
        
        
        -Atención personalizada.
        -Una guía completa para seguir nuestras señales paso a paso, escrita en inglés y español
        <a href="../../assets/MT4.pdf" download="Guia MT4 y uso de señales">GUIA MT4 y Señales</a>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingFour">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
        Soy NUEVO y quiero aprender desde cero
      </button>
    </h2>
    <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">¡No te preocupes! Muchos clientes han estado invirtiendo con nosotros durante mucho tiempo y comenzaron desde cero.

        Tenemos dos guías en el área para comenzar:<a href="../../assets/MT4.pdf" download="Guia MT4 y uso de señales">GUIA MT4 y Señales</a> y <a href="../../assets/BROKER.pdf" download="Guia MT4 y uso de señales">Uso de Brokers</a> , con el fin de que puedas aprender todo sobre estos mercados financieros y también a seguir nuestras señales de manera exitosa.</div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingFive">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
        ¿Hay un período de prueba gratuito?
      </button>
    </h2>
    <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">¡Por supuesto! Queremos que nuestros clientes puedan probar nuestras señales y análisis antes de comprar la suscripción VIP, por lo que enviamos 3-4 señales semanales en el grupo gratuito y los informes semanales de cada grupo VIP.

        Además, también encontrarás opiniones de clientes de las últimas señales VIP y vídeos de los canales VIP desde dentro.
        
        Únete al canal gratuito
        <a href="https://t.me/KNGsignalsFree" target="_blank" class="btn btn-secondary">Servicio Free</a></div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingSix">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
        ¿A qué hora enviaís las señales?
      </button>
    </h2>
    <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Nos aseguramos de que nuestros clientes de todo el mundo puedan invertir todas las señales que enviamos, por eso las enviamos a lo largo de todo el día, aunque tenemos la mayor parte de actividad de 10am a 10pm en la zona horaria UTC+1.

        </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingSeven">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
        ¿Dónde puedo ver tus resultados?
      </button>
    </h2>
    <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Publicamos nuestros resultados semanales y mensuales en el Grupo de Stats.

        Las ganancias son indicativas y pueden diferir entre los diferentes traders, dependiendo de la estrategia que utilices y el riesgo que quieras asumir.</div>
        <a href="https://t.me/KNGsignalsFree" target="_blank" class="btn btn-secondary">Servicio Free</a>
      </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-heading8">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse8" aria-expanded="false" aria-controls="flush-collapse8">
        ¿Cómo puedo confiar en tus resultados?
      </button>
    </h2>
    <div id="flush-collapse8" class="accordion-collapse collapse" aria-labelledby="flush-heading8" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">KNG ha estado activo como empresa desde 2019, y todos nuestros analistas han estado operando en los mercados financieros durante más de 6 años.

        Además, KNG siempre se ha caracterizado por ser transparente, enviando señales en el canal Gratuito para que todos los miembros puedan probarlas antes de unirse a los grupos VIP.</div>
        <a href="https://t.me/KNGsignalsFree" target="_blank" class="btn btn-secondary">Servicio Free</a>
      </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-heading9">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse9" aria-expanded="false" aria-controls="flush-collapse9">
        ¿Cómo utilizar los 3 Take Profits?
      </button>
    </h2>
    <div id="flush-collapse9" class="accordion-collapse collapse" aria-labelledby="flush-heading9" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">La ventaja de usar 3 Take Profits es que cada cliente puede usar su propia estrategia y administrar el riesgo que quiere tomar de la mejor manera posible.

        Además, en las guías del área Comenzar, te explicamos algunas de las estrategias más utilizadas y las que puedes aplicar para gestionar los Take Profits.
        
        Si eres miembro VIP puedes solicitar una gestión personalizada de Take Profits, para asegurarte de que el riesgo que estás asumiendo es el correcto.</div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-heading10">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse10" aria-expanded="false" aria-controls="flush-collapse10">
        ¿Cuánto dinero puedo ganar?
      </button>
    </h2>
    <div id="flush-collapse10" class="accordion-collapse collapse" aria-labelledby="flush-heading10" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Las ganancias de nuestros clientes no siempre son las mismas para todos. Si bien tenemos clientes que ganan más de $1000 semanales, hay otros que ganan entre $50 y $100 cada semana. Esto se debe a que las ganancias dependen de dos factores: Capital Invertido y Riesgo.

        -Capital: aunque recomendamos empezar con más de $100, puedes comenzar con una cantidad menor siempre y cuando te sientas cómodo con las primeras señales que has invertido con nosotros.
        
        -Riesgo: el riesgo será trascendental para tus ganancias. Cuanto más riesgo asumas, mayores serán tus beneficios, pero también lo serán tus pérdidas, por lo que gestionar bien los 3 Take Profits y el Stop Loss (como explicamos en las guías) es fundamental.
        
        ⚠️Recuerda que contarás con asesoría personalizada en gestión de riesgos si eres miembro VIP.</div>
  </div>
</div>