.contenedor_primer_panel{
    display: flex;
    min-height: 95vh;
    flex-direction: column;
    height: 100%;
    
    width: 100%;
    background-image: url("../../assets/viktor-forgacs-3PyBkxgTiL0-unsplash.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    .contenedor_h1{
        margin: 5vh 15vw 0px 15vw ;
        font-size: 0.7em;
        color: rgba(255, 255, 255, 0.911);
    }
    .card_contenedor{
        color: white;
        max-width: 700px;
        max-height: 400px;
        margin: 5vh 16vw 0px 16vw;
        background-color: rgba(255, 255, 255, 0.034);

    }
    h1{
        font-size: 5em;
    }
    

}
@media (max-width: 900px) {
  .contenedor_primer_panel {
    background-position: center;
  }
}
.contenedor_segundo_panel{
    display: flex;
    min-height: 100vh;
    overflow-x: hidden;
    width: 100%;
    background-color: #F4F4F4;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    

.container1{
    overflow: auto;
    color: #262626;
table {
	min-width: 320px;
	border-collapse: collapse;
	
    overflow: scroll;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
    color: #262626;
}
th,
td {
	padding: 15px;
	background-color: rgba(255, 255, 255, 0.514);
	color: #fff;
    color: #262626;
}
th {
	text-align: left;
}
thead {
	th {
		border: none;
  border-radius: 4px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.48);
  overflow: hidden;
  padding: 20px 50px 20px 70px;
  margin-bottom: 20px;
  font-size: 20px;
  position: relative;
  color: white;
  outline: none;
  cursor: pointer;
  width: 100%;
  -webkit-transition: background-position .7s,box-shadow .4s;
  transition: background-position .7s,box-shadow .4s;
  background-size: 110%;
  font-family: 'Oswald', sans-serif;
  background: rgb(35,184,236);
  
background: radial-gradient(circle, rgba(22, 156, 78, 0.295) 14%, rgb(126, 184, 148) 98%);
text-align: -webkit-center;
	}
}
tbody {
	tr {
		&:hover {
			background-color: rgba(255,255,255,0.3);
		}
	}
	td {
		position: relative;
    position: relative;
    font-style: italic;
    font-family: serif;
    text-align: -webkit-center;
		&:hover {
            
			&:before {
				content: "";
				
				background-color: rgb(255, 255, 255);
				
			}
		}
	}
  .subtitulos-tabla{
    border: none;
  border-radius: 4px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.48);
  overflow: hidden;
  
  margin-bottom: 20px;
  font-size: 20px;
  position: relative;
  color: white;
  outline: none;
  cursor: pointer;
  width: 100%;
  -webkit-transition: background-position .7s,box-shadow .4s;
  transition: background-position .7s,box-shadow .4s;
  background-size: 110%;
  font-family: 'Oswald', sans-serif;
  background: rgb(35,184,236);
background: radial-gradient(circle, rgba(22, 156, 78, 0.295) 14%, rgb(126, 184, 148) 98%);
  }
}


}

    
    
    

}
.contenedor_tercer_panel{
    
    display: flex;
    min-height: 95vh;
    overflow: hidden;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #F4F4F4;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-evenly;
    align-items: center;
    .card{
      border-radius: 100px;
    }
    .card:hover{
        transition-delay: 0s, 3000ms;
        
        background-color: #2fc9f80a;
        transition-duration: 2s;
        box-shadow: #000;
        
        
        
        

    }
    img{
        max-height: 400px;
        max-width: 600px;
    }
    .col{
        max-width: 300px !important;
        margin: auto;
        /* margin-left: 10px; */
        margin-top: 10px;
        padding: 20px;
        min-width: 33%;

    }
    .card-body{
    text-align: center;        
    min-width: 200px;
    max-height: 300px;
    min-height: 200px;
    }
    .card_contenedor{
        margin-top: 10px;
        max-height: 30vh;
        
        
        color: rgb(12, 11, 11);
        display: flex;
        max-width: 400px;
        box-shadow:  15px 20px 13px #c0c0c2;
        
        
        
       
        background-color: rgba(255, 255, 255, 0.959);

    }
    
    

}
.contenedor_cuarto_panel{
    .esconder{
        visibility: hidden;
    }
    display: flex;
    min-height: 60vh;
    overflow-x: hidden;
    width: 100%;
    background-color: #F4F4F4;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    padding-bottom: 10px;

    @mixin border-radius($radius) {
        -webkit-border-radius: $radius;
        -moz-border-radius: $radius;
        -ms-border-radius: $radius;
        border-radius: $radius;
      }
      
      @mixin transition($args...) {
        -webkit-transition: $args;
        -moz-transition: $args;
        -ms-transition: $args;
        -o-transition: $args;
        transition: $args;
      }
      
      body {
        color: slategray;
      }
      
      .table {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        padding: 2rem 0rem 0rem 0rem;
        max-width: 1100px;
      }
      
      .table-cell {
        box-sizing: border-box;
        flex-grow: 1;
        width: 100%;
        padding: 0.8em 1.2em;
        overflow: hidden;
        list-style-type: none;
        outline: 1px solid #ddd;
        text-align: center;
        font-weight: 300;
        margin: {
          top: 1px;
          left: 1px;
        }
        &:first-child {
            outline: 1px solid #fff;
          background: transparent;
            @media only screen and (max-width : 768px) {
                  display: none;
              }
        }
        &:nth-child(3) {
          outline: 1px solid #30305b;
        }
        &:nth-child(-n+3) {
            padding: {
                top: 40px;
                bottom: 40px;
            }
        }
        > h3 {
          font-size: 26px;
            margin: {
                top: 0;
                bottom: 3rem;
            }
        }
        &.cell-feature {
            text-align: left;
          font-size: 18px;
        }
        &.plattform {
          color: limegreen;
          a.btn {
            color: limegreen;
            &:hover {
              background-color: limegreen;
              border-color: limegreen;
              color: white;
            }
          }
        }
        &.enterprise {
          background-color: #30305b;
          color: #85bafc;
          a.btn {
            color: #85bafc;
            &:hover {
              background-color: #85bafc;
              border-color: #85bafc;
              color: #30305b;
            }
          }
        }
      }
      
      /* Table columns
      ================================== */
      .table-cell  {
        width: calc(33.33% - 1px);
        &.cell-feature {
            @media only screen and (max-width : 768px) {
                width: 100%;
                text-align: center;
            }
        }
      }
      
      svg.enterprise-check path {
        fill: #30305b !important;
      }
      
      a.btn {
        border: 2px solid;
        padding: .6rem .9rem .6rem .9rem;
        font-weight: 400;
        text: {
          transform: uppercase;
          decoration: none;
        }
        @include transition(0.2s ease-in-out);
        @include border-radius(.3rem);
      }

}
.contenedor_quinto_panel{
    
        display: flex;
        min-height: 95vh;
        flex-direction: column;
        height: 100%;
        
        width: 100%;
        background-image: url("../../assets/viktor-forgacs-3PyBkxgTiL0-unsplash.jpg");
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        .contenedor_h1{
            margin: 5vh 15vw 0px 15vw ;
            color: rgba(255, 255, 255, 0.911);
        }
        .card_contenedor{
            color: white;
            max-width: 700px;
            max-height: 400px;
            margin: 5vh 16vw 0px 16vw;
            background-color: rgba(255, 255, 255, 0.034);
    
        }
        h1{
            font-size: 5em;
        }
       
        
    
    

}