<div class="contenedor_segundo_panel" style="padding-top: 2rem">
  <div class="card card_contenedor">
    <div class="lapto">
      <!-- <div class="tradingview-widget-container">
          <div id="tradingview_bac65"></div>
          <div class="tradingview-widget-copyright">
            <a href="https://www.tradingview.com/symbols/NASDAQ-AAPL/" rel="noopener" target="_blank"><span
                class="blue-text">AAPL Chart</span></a>
            by TradingView
          </div>
          <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
          <script type="text/javascript"></script>
        </div> -->
      <img
        class="img"
        src="../../assets/Modern Purple Investing Daily Tips Youtube Thumbnail (500 × 500 px) (9).png"
        alt="Thumbnail"
        srcset=""
      />
    </div>
    <div class="card-body">
      <h5 class="card-title">SECCIÓN DE PAGO</h5>
      <h2>Opciones habilitadas</h2>
      <h3>
        Cripto <br />
        Skrill
      </h3>
      <p class="card-text">
        <!-- MEDIANTE NUESTRO SISTEMA DE FONDEO. -->
        Una vez enviados los fondos debe mandar captura de pantalla de la
        transferencia o comprobante a los contactos de atención al cliente junto
        con su número telefónico que desea que obtenga la membresía VIP para ser
        unido a los canales de información
      </p>
      <p class="card-text">
        El plan otorgado y su duración se regirá según los fondos enviados,
        basándose en la siguiente información:
      </p>
      <h3>$58 /1 MES</h3>
      <h3>$140 /3 MESES</h3>
      <h3>$480 / 1 AÑO</h3>
    </div>
  </div>
</div>
<div class="contenedor_tercer_panel" style="padding-top: 2rem">
  <div class="card card_contenedor">
    <div class="lapto">
      <!-- <div class="tradingview-widget-container">
          <div id="tradingview_bac65"></div>
          <div class="tradingview-widget-copyright">
            <a href="https://www.tradingview.com/symbols/NASDAQ-AAPL/" rel="noopener" target="_blank"><span
                class="blue-text">AAPL Chart</span></a>
            by TradingView
          </div>
          <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
          <script type="text/javascript"></script>
        </div> -->
      <img class="img" src="../../assets/skrill.png" alt="skrill image" srcset="" />
    </div>
    <div class="card-body">
      <h5 class="card-title">SKRILL</h5>
      <h2>Instructivo</h2>
      <div class="video-responsive">
        <iframe
          class="youtube"
          src="https://www.youtube.com/embed/R1atbMPuHEM"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>

      <p class="card-text">
        Siguiendo el instructivo de como realizar una transferencia skrill por
        favor diligenciar correctamente el monto según el plan que haya decidido
        optar enviándolo al siguiente mail asociado a Skrill:
      </p>
      <h3>Kngsignals22@gmail.com</h3>
      <p class="card-text">
        Una vez enviado comunicarse con atención al cliente enviando captura de
        pantalla y con el número telefónico que desea que se beneficie de la
        membresía VIP : <br><i class="fas fa-envelope me-3 text-secondary"></i> kngsignals@gmail.com  <br> <i class="fas fa-phone me-3 text-secondary"></i>WhatsApp :  +54 9 3517582763
      </p>
     
    </div>
  </div>
</div>
<div class="contenedor_tercer_panel" style="padding-top: 2rem">
  <div class="card card_contenedor">
    <div class="lapto">
     
      <img class="img" src="../../assets/criptotrc20.png" alt="trc20 cripto" srcset="" />
    </div>
    <div class="card-body">
      <h5 class="card-title">CRIPTO</h5>
      <h2>Instructivo</h2>
      <div class="video-responsive">
        <iframe
          class="youtube"
          src="https://www.youtube.com/embed/YG7R3o1X8O0"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>

      <p class="card-text">
        Siguiendo el instructivo de como realizar una transferencia a una
        direccion cripto (TRC20 - USDT) por favor diligenciar correctamente el
        monto según el plan que haya decidido optar enviándolo a la siguiente
        direccion:
      </p>
      <p  id="color-cripto">TDTFyyvRZBDKv1omKWSiXxitx3kUecDHuo</p>
      <p class="card-text">
        Una vez enviado comunicarse con atención al cliente enviando captura de
        pantalla y con el número telefónico que desea que se beneficie de la
        membresía VIP : <br><i class="fas fa-envelope me-3 text-secondary"></i> kngsignals@gmail.com  <br> <i class="fas fa-phone me-3 text-secondary"></i>WhatsApp :  +54 9 3517582763
      </p>
     
    </div>
  </div>
</div>

