.contenedor_segundo_panel {
    .aline-center{
      text-align: -webkit-center
    }
    .card_contenedor {
      // margin-top: 10px;
      color: rgb(12, 11, 11);
      display: flex;
      flex-direction: row;
      max-width: 95%;
    //   box-shadow: 15px 20px 13px #c0c0c2;
      background-color: #ffffff2d;
      border: none;
      // background-color: #2fac66;
      // padding: 1.5rem;
      padding: 3rem 7rem;
      align-items: center;
      // padding-right: 10rem !important;
    }
  
    display: flex;
    width: 100%;
    background-color: #f4f4f4;
  
    flex-wrap: wrap;
  
    justify-content: space-evenly;
    align-items: center;
  
    // intento de laptop
    //colours
    $background: #2fac66;
    $base: #e6e8e7;
    $screen: #89c9e5;
    $frame: #3f3f41;
    $open: #bcbdc1;
    $base2: #d1d2d4;
  
    //mixin
    @mixin align-horizontal {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  
    html,
    body {
      background: $background;
    }
  
    h1 {
      font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
        Helvetica, Arial, "Lucida Grande", sans-serif;
      font-weight: 300;
      color: rgba(#fff, 0.85);
      margin: 0 0 1em 0;
      font-size: 22px;
  
      span {
        font-size: 16px;
        display: block;
        color: rgba(#fff, 0.75);
        margin: 5px 0 0 0;
        font-style: italic;
      }
    }
  
    p {
      font-size: 1.3rem;
      text-align: start;
      margin-bottom: 2rem;
      font-weight: 500;
    }
    h2{
      text-align: -webkit-center !important;
      font-weight: 900;
      
      font-size: 3rem;
      -webkit-background-clip: text !important;
      -webkit-text-fill-color: transparent !important;
      background: linear-gradient(45deg, #0e0d0d, #ffe364);
    }
    h3{
      text-align: -webkit-center;
      -webkit-background-clip: text !important;
      -webkit-text-fill-color: transparent !important;
      background: linear-gradient(45deg, #f2c511, #647eff);
    }
  
    h5 {
      
      font-size: 3rem;
      text-align: -webkit-center;
      font-weight: 900;
      
      margin-bottom: 2rem;
      -webkit-background-clip: text !important;
      -webkit-text-fill-color: transparent !important;
      background: linear-gradient(45deg, #f2c511, #647eff);
    }
  
    //the magic
    .laptop {
      min-width: 400px;
      // height: 600px;
      background: #000;
      border: 16px solid #262626;
      // box-shadow: -20px 15px 20px 13px #c0c0c2;
      overflow: hidden;
      max-height: 800px;
    }
  
    .laptop {
      // position: relative;
      width: 330px;
      height: 550px;
      margin: 0 auto;
      background: $screen;
      border: 15px solid $frame;
      border-top: 20px solid $frame;
      border-radius: 14px;
      margin: 0 2rem 0 0;
      box-shadow: 3px 3px 10px 0px #000000c4;
    }
  
    padding: 30px;
  
    .img {
      object-fit: contain;
      height: 100%;
      width: 100%;
      
      border-radius: 13px;
    }
  
    .img_container {
      border-radius: 13px;
      min-width: 35%;
      height: 40rem;
      display: flex;
      
    }
  
    .margin_rigth {
      margin-right: 2rem;
    }
  }
  .contenedor_tercer_panel {
    .youtube{
     justify-content: center;
    }
    .aline-center{
      text-align: -webkit-center
    }
    .card_contenedor {
      // margin-top: 10px;
      color: rgb(12, 11, 11);
      display: flex;
      flex-direction: row;
      max-width: 95%;
      box-shadow: 15px 20px 13px #c0c0c2;
      background-color: #ffffff;
      // background-color: #2fac66;
      // padding: 1.5rem;
      padding: 3rem 7rem;
      align-items: center;
      // padding-right: 10rem !important;
    }
  
    display: flex;
    width: 100%;
    background-color: #f4f4f4;
  
    flex-wrap: wrap;
  
    justify-content: space-evenly;
    align-items: center;
  
    // intento de laptop
    //colours
    $background: #2fac66;
    $base: #e6e8e7;
    $screen: #89c9e5;
    $frame: #3f3f41;
    $open: #bcbdc1;
    $base2: #d1d2d4;
  
    //mixin
    @mixin align-horizontal {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  
    html,
    body {
      background: $background;
    }
  
    h1 {
      font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
        Helvetica, Arial, "Lucida Grande", sans-serif;
      font-weight: 300;
      color: rgba(#fff, 0.85);
      margin: 0 0 1em 0;
      font-size: 22px;
  
      span {
        font-size: 16px;
        display: block;
        color: rgba(#fff, 0.75);
        margin: 5px 0 0 0;
        font-style: italic;
      }
    }
  
    p {
      font-size: 1.3rem;
      text-align: start;
      margin-bottom: 2rem;
      font-weight: 500;
    }
    h2{
      text-align: -webkit-center !important;
      font-weight: 900;
      
      font-size: 3rem;
      -webkit-background-clip: text !important;
      -webkit-text-fill-color: transparent !important;
      background: linear-gradient(45deg, #0e0d0d, #ffe364);
    }
    h3{
      text-align: -webkit-center;
      -webkit-background-clip: text !important;
      -webkit-text-fill-color: transparent !important;
      background: linear-gradient(45deg, #f2c511, #647eff);
    }
  
    h5 {
      
      font-size: 3rem;
      text-align: -webkit-center;
      font-weight: 900;
      
      margin-bottom: 2rem;
      -webkit-background-clip: text !important;
      -webkit-text-fill-color: transparent !important;
      background: linear-gradient(45deg, #f2c511, #647eff);
    }
  
    //the magic
    .laptop {
      min-width: 400px;
      // height: 600px;
      background: #000;
      border: 16px solid #262626;
      // box-shadow: -20px 15px 20px 13px #c0c0c2;
      overflow: hidden;
      max-height: 800px;
    }
  
    .laptop {
      // position: relative;
      width: 330px;
      height: 550px;
      margin: 0 auto;
      background: $screen;
      border: 15px solid $frame;
      border-top: 20px solid $frame;
      border-radius: 14px;
      margin: 0 2rem 0 0;
      box-shadow: 3px 3px 10px 0px #000000c4;
    }
  
    padding: 30px;
  
    .img {
      object-fit: contain;
      height: 100%;
      width: 100%;
      
      border-radius: 13px;
      max-width: 300px;
    }
  
    .img_container {
      border-radius: 13px;
      min-width: 35%;
      height: 40rem;
      display: flex;
      
    }
  
    .margin_rigth {
      margin-right: 2rem;
    }
  }
  @media (max-width: 1490px) {
    .card_contenedor {
      min-width: 90%;
      margin-top: 2rem;
      padding: 1rem 3rem !important;
    }
  }
  
  @media (max-width: 1030px) {
    .card_contenedor {
      min-width: 95%;
      flex-direction: column !important;
      padding: 3rem !important;
    }
   
  
    .aline-center {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  
    .laptop {
      margin: 0 !important;
      min-width: 1px !important;
      width: auto !important;
    }
  
    .margin_rigth {
      margin: 0 !important;
    }
  }
  @media (max-width:600px){
    .contenedor_cuarto_panel{
      .card_contenedor {
        // margin-top: 10px;
        color: rgb(12, 11, 11);
        display: flex;
        flex-direction: row;
        min-width: 100vw;
        box-shadow: 15px 20px 13px #c0c0c2;
        background-color: #ffffff;
        // background-color: #2fac66;
        // padding: 1.5rem;
        padding: 3rem ;
        align-items: center;
        // padding-right: 10rem !important;
      }
       
        .video-responsive iframe, .video-responsive object, .video-responsive embed {
            height: 100%;
            
            top: 0;
            width: 100%;
            max-height: 500px;max-width: 300px;
            
            }
        
    
    }
    
  }
  
  @media (max-width: 514px) {
    .card_contenedor {
      h5 {
        font-size: 2rem;
      }
  
      p {
        font-size: 1rem;
      }
  
      padding: 1em !important;
    }
  
    .contenedor_segundo_panel {
      padding: 0;
    }
  
    .card-body {
      padding: 0.5rem;
    }
  }
  .video-responsive {
	height: 0;
	overflow: hidden;
	padding-bottom: 56.25%;
	padding-top: 30px;
	position: relative;
	}
.video-responsive iframe, .video-responsive object, .video-responsive embed {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
    max-height: 500px;
    
	}
    // @media (max-width:600px) {
    //     .video-responsive iframe, .video-responsive object, .video-responsive embed {
    //         height: 100%;
            
    //         top: 0;
    //         width: 100%;
    //         max-height: 500px;max-width: 300px;
            
    //         }
        
    // }
    .contenedor_cuarto_panel {
      .youtube{
       justify-content: center;
      }
      .aline-center{
        text-align: -webkit-center
      }
      .card_contenedor {
        // margin-top: 10px;
        color: rgb(12, 11, 11);
        display: flex;
        flex-direction: row;
        max-width: 95%;
        box-shadow: 15px 20px 13px #c0c0c2;
        background-color: #ffffff;
        // background-color: #2fac66;
        // padding: 1.5rem;
        padding: 3rem 7rem;
        align-items: center;
        // padding-right: 10rem !important;
      }
    
      display: flex;
      width: 100%;
      background-color: #f4f4f4;
    
      flex-wrap: wrap;
    
      justify-content: space-evenly;
      align-items: center;
    
      // intento de laptop
      //colours
      $background: #2fac66;
      $base: #e6e8e7;
      $screen: #89c9e5;
      $frame: #3f3f41;
      $open: #bcbdc1;
      $base2: #d1d2d4;
    
      //mixin
      @mixin align-horizontal {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
    
      html,
      body {
        background: $background;
      }
    
      h1 {
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
          Helvetica, Arial, "Lucida Grande", sans-serif;
        font-weight: 300;
        color: rgba(#fff, 0.85);
        margin: 0 0 1em 0;
        font-size: 22px;
    
        span {
          font-size: 16px;
          display: block;
          color: rgba(#fff, 0.75);
          margin: 5px 0 0 0;
          font-style: italic;
        }
      }
    
      p {
        font-size: 1.3rem;
        text-align: start;
        margin-bottom: 2rem;
        font-weight: 500;
      }
      h2{
        text-align: -webkit-center !important;
        font-weight: 900;
        
        font-size: 3rem;
        -webkit-background-clip: text !important;
        -webkit-text-fill-color: transparent !important;
        background: linear-gradient(45deg, #0e0d0d, #ffe364);
      }
      h3{
        text-align: -webkit-center;
        -webkit-background-clip: text !important;
        -webkit-text-fill-color: transparent !important;
        background: linear-gradient(45deg, #f2c511, #647eff);
      }
      
    
      h5 {
        
        font-size: 3rem;
        text-align: -webkit-center;
        font-weight: 900;
        
        margin-bottom: 2rem;
        -webkit-background-clip: text !important;
        -webkit-text-fill-color: transparent !important;
        background: linear-gradient(45deg, #f2c511, #647eff);
      }
    
      //the magic
      .laptop {
        min-width: 400px;
        // height: 600px;
        background: #000;
        border: 16px solid #262626;
        // box-shadow: -20px 15px 20px 13px #c0c0c2;
        overflow: hidden;
        max-height: 800px;
      }
    
      .laptop {
        // position: relative;
        width: 330px;
        height: 550px;
        margin: 0 auto;
        background: $screen;
        border: 15px solid $frame;
        border-top: 20px solid $frame;
        border-radius: 14px;
        margin: 0 2rem 0 0;
        box-shadow: 3px 3px 10px 0px #000000c4;
      }
    
      padding: 30px;
    
      .img {
        object-fit: contain;
        height: 100%;
        width: 100%;
        
        border-radius: 13px;
        max-width: 300px;
      }
    
      .img_container {
        border-radius: 13px;
        min-width: 35%;
        height: 40rem;
        display: flex;
        
      }
    
      .margin_rigth {
        margin-right: 2rem;
      }
    }
    #color-cripto{
      text-align: -webkit-center;
      -webkit-background-clip: text !important;
      -webkit-text-fill-color: transparent !important;
      background: linear-gradient(45deg, #f2c511, #647eff);

    }