.contenedor_banner{
  display: flex;
  min-height: 95vh;
  flex-direction: column;
  height: 100%;

  width: 100%;
  background-image: url("../../assets/Modern\ Purple\ Investing\ Daily\ Tips\ Youtube\ Thumbnail\ \(3\).png");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.contenedor_primer_panel {
  display: flex;
  min-height: 95vh;
  flex-direction: column;
  height: 100%;

  width: 100%;
  background-image: url("../../assets/banner-oscuro.png");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  .card-title{
    font-size: 2rem;
  }
  .card-text{
    font-size: 1.25rem;
  }

  .contenedor_h1 {
    margin: 5vh 15vw 0px 15vw;
    color: rgba(255, 255, 255, 0.911);
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    background: linear-gradient(45deg, #f2c511, #647eff);
    text-align: -webkit-center
  }

  .card_contenedor {
    color: white;
    max-width: 700px;
    max-height: 400px;
    margin: 5vh 16vw 0px 16vw;
    background-color: rgba(255, 255, 255, 0.034);
  }

  h1 {
    font-size: 5em;
  }
  .contenedor-botones {
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: baseline;
    flex-direction: row;
   
  }
}
@media (max-width: 900px) {
  .contenedor_primer_panel {
    background-position: center;
  }
}

.contenedor_segundo_panel {
  .aline-center{
    text-align: -webkit-center
  }
  .card_contenedor {
    // margin-top: 10px;
    color: rgb(12, 11, 11);
    display: flex;
    flex-direction: row;
    max-width: 95%;
    box-shadow: 15px 20px 13px #c0c0c2;
    background-color: #ffffff;
    // background-color: #2fac66;
    // padding: 1.5rem;
    padding: 3rem 7rem;
    align-items: center;
    // padding-right: 10rem !important;
  }

  display: flex;
  width: 100%;
  background-color: #f4f4f4;

  flex-wrap: wrap;

  justify-content: space-evenly;
  align-items: center;

  // intento de laptop
  //colours
  $background: #2fac66;
  $base: #e6e8e7;
  $screen: #89c9e5;
  $frame: #3f3f41;
  $open: #bcbdc1;
  $base2: #d1d2d4;

  //mixin
  @mixin align-horizontal {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  html,
  body {
    background: $background;
  }

  h1 {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
      Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    color: rgba(#fff, 0.85);
    margin: 0 0 1em 0;
    font-size: 22px;

    span {
      font-size: 16px;
      display: block;
      color: rgba(#fff, 0.75);
      margin: 5px 0 0 0;
      font-style: italic;
    }
  }

  p {
    font-size: 1.3rem;
    text-align: start;
    margin-bottom: 2rem;
    font-weight: 500;
  }
  h2{
    text-align: -webkit-center !important;
    font-weight: 900;
    font-style: oblique;
    font-size: 3rem;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    background: linear-gradient(45deg, #0e0d0d, #ffe364);
  }
  h3{
    text-align: -webkit-center;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    background: linear-gradient(45deg, #f2c511, #647eff);
  }

  h5 {
    
    font-size: 3rem;
    text-align: -webkit-center;
    font-weight: 900;
    
    margin-bottom: 2rem;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    background: linear-gradient(45deg, #f2c511, #647eff);
  }

  //the magic
  .laptop {
    min-width: 400px;
    // height: 600px;
    background: #000;
    border: 16px solid #262626;
    // box-shadow: -20px 15px 20px 13px #c0c0c2;
    overflow: hidden;
    max-height: 800px;
  }

  .laptop {
    // position: relative;
    width: 330px;
    height: 550px;
    margin: 0 auto;
    background: $screen;
    border: 15px solid $frame;
    border-top: 20px solid $frame;
    border-radius: 14px;
    margin: 0 2rem 0 0;
    box-shadow: 3px 3px 10px 0px #000000c4;
  }

  padding: 30px;

  .img {
    object-fit: contain;
    height: 100%;
    width: 100%;
    
    border-radius: 13px;
  }

  .img_container {
    border-radius: 13px;
    min-width: 35%;
    height: 40rem;
    display: flex;
    
  }

  .margin_rigth {
    margin-right: 2rem;
  }
}

// .contenedor_tercer_panel {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   flex-direction: column;
//   background-color: #f4f4f4;

//   .card_contenedor_tercer {
//     color: rgb(12, 11, 11);
//     display: flex;
//     flex-direction: row;
//     width: 80%;
//     box-shadow: 15px 20px 13px #c0c0c2;
//     background-color: rgba(0, 195, 255, 0.075);
//     padding: 3rem 8rem;
//     align-items: center;
//   }

//   // .card:hover {
//   //     transition-delay: 0s, 3000ms;
//   //     background-color: #2fc9f80a;
//   //     transition-duration: 2s;
//   //     box-shadow: #000;
//   // }
//   p {
//     font-size: 1.3rem;
//     text-align: start;
//     margin-bottom: 2rem;
//     font-weight: 500;
//   }
  

//   h5 {
//     font-size: 3rem;
//     text-align: start;
//     font-weight: 900;
//     max-width: 80%;
//     margin-bottom: 2rem;
//   }

//   img {
//     max-height: 400px;
//     max-width: 600px;
//   }

//   .col {
//     max-width: 300px !important;
//     margin: auto;
//     /* margin-left: 10px; */
//     margin-top: 10px;
//     padding: 20px;
//     min-width: 33%;
//   }

//   .card-body {
//     text-align: center;
//     min-width: 200px;
//     max-height: 300px;
//     min-height: 200px;
//   }

//   .card_contenedor {
//     margin-top: 10px;
//     max-height: 30vh;

//     color: rgb(12, 11, 11);
//     display: flex;
//     max-width: 400px;
//     box-shadow: 15px 20px 13px #c0c0c2;

//     background-color: rgba(255, 255, 255, 0.959);
//   }
// }

// .contenedor_cuarto_panel {
//   display: flex;
//   min-height: 100vh;
//   overflow-x: hidden;
//   width: 100%;
//   background-color: #f4f4f4;
//   background-attachment: fixed;
//   background-size: cover;
//   background-repeat: no-repeat;
//   flex-wrap: wrap;
//   align-content: center;
//   justify-content: center;
//   // .card:hover{
//   //     transition-delay: 0s, 3000ms;
//   //     translate: 2px;
//   //     background-color: #f0f3f18a;
//   //     transition-duration: 3s;
//   //     box-shadow: #000;
//   //     zoom: 1.1;

//   // }
//   // img{
//   //     max-height: 400px;
//   //     max-width: 600px;
//   // }
//   // .col{
//   //     max-width: 600px !important;
//   //     margin: auto;
//   //     /* margin-left: 10px; */
//   //     margin-top: 10px;
//   //     padding: 20px;

//   // }
//   // .card_contenedor{
//   //     margin-top: 10px;
//   //     max-height: 30vh;

//   //     color: rgb(12, 11, 11);
//   //     display: flex;
//   //     max-width: 400px;
//   //     box-shadow:  15px 20px 13px #c0c0c2;

//   //     background-color: rgba(255, 255, 255, 0.959);

//   // }

//   .container1 {
//     overflow: auto;
//     color: #262626;

//     table {
//       min-width: 320px;
//       border-collapse: collapse;
      

//       overflow: scroll;
//       box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
//       color: #262626;
//     }

//     th,
//     td {
//       padding: 15px;
//       background-color: rgba(255, 255, 255, 0.2);
//       color: #fff;
//       color: #262626;
//     }

//     th {
//       text-align: left;
//     }

//     thead {
//       th {
//         background-color: #55608f;
//       }
//     }

//     tbody {
//       tr {
//         &:hover {
//           background-color: rgba(255, 255, 255, 0.3);
//         }
//       }

//       td {
//         position: relative;

//         &:hover {
//           &:before {
//             content: "";

//             background-color: rgba(255, 255, 255, 0.2);
//           }
//         }
//       }
//     }
//   }
// }

@media (max-width: 1490px) {
  .card_contenedor {
    min-width: 90%;
    margin-top: 2rem;
    padding: 1rem 3rem !important;
  }
}

@media (max-width: 1030px) {
  .card_contenedor {
    min-width: 95%;
    flex-direction: column !important;
    padding: 3rem !important;
  }

  .aline-center {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .laptop {
    margin: 0 !important;
    min-width: 1px !important;
    width: auto !important;
  }

  .margin_rigth {
    margin: 0 !important;
  }
}

@media (max-width: 514px) {
  .card_contenedor {
    h5 {
      font-size: 2rem;
    }

    p {
      font-size: 1rem;
    }

    padding: 1em !important;
  }

  .contenedor_segundo_panel {
    padding: 0;
  }

  .card-body {
    padding: 0.5rem;
  }
}

  /* ======================== */
/*   Syed Sahar Ali Raza   	*/
/* ========================	*/
@import url(https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700italic,700,900italic,900);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900);
body{background-color:#eee;}

#generic_price_table{
	background-color: #f4f4f4
}

/*PRICE COLOR CODE START*/
#generic_price_table .generic_content{
	background-color: #fff;
}

#generic_price_table .generic_content .generic_head_price{
	background-color: #f6f6f6;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content .head_bg{
	border-color: #e4e4e4 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #e4e4e4;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content .head span{
	color: #525252;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .sign{
    color: #414141;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .currency{
    color: #414141;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .cent{
    color: #414141;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .month{
    color: #414141;
}

#generic_price_table .generic_content .generic_feature_list ul li{	
	color: #a7a7a7;
}

#generic_price_table .generic_content .generic_feature_list ul li span{
	color: #414141;
}
#generic_price_table .generic_content .generic_feature_list ul li:hover{
	background-color: #E4E4E4;
	border-left: 5px solid #2ECC71;
}

#generic_price_table .generic_content .generic_price_btn a{
	border: 1px solid #2ECC71; 
    color: #2ECC71;
} 

#generic_price_table .generic_content.active .generic_head_price .generic_head_content .head_bg,
#generic_price_table .generic_content:hover .generic_head_price .generic_head_content .head_bg{
	border-color: #2ECC71 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #2ECC71;
	color: #fff;
}

#generic_price_table .generic_content:hover .generic_head_price .generic_head_content .head span,
#generic_price_table .generic_content.active .generic_head_price .generic_head_content .head span{
	color: #fff;
}

#generic_price_table .generic_content:hover .generic_price_btn a,
#generic_price_table .generic_content.active .generic_price_btn a{
	background-color: #2ECC71;
	color: #fff;
} 
#generic_price_table{
	
    font-family: 'Raleway', sans-serif;
}
.row .table{
    padding: 28px 0;
}

/*PRICE BODY CODE START*/

#generic_price_table .generic_content{
	overflow: hidden;
	position: relative;
	text-align: center;
}

#generic_price_table .generic_content .generic_head_price {
	margin: 0 0 20px 0;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content{
	margin: 0 0 50px 0;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content .head_bg{
    border-style: solid;
    border-width: 90px 1411px 23px 399px;
	position: absolute;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content .head{
	padding-top: 40px;
	position: relative;
	z-index: 1;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content .head span{
    font-family: "Raleway",sans-serif;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag{
	padding: 0 0 20px;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price{
	display: block;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .sign{
    display: inline-block;
    font-family: "Lato",sans-serif;
    font-size: 28px;
    font-weight: 400;
    vertical-align: middle;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .currency{
    font-family: "Lato",sans-serif;
    font-size: 60px;
    font-weight: 300;
    letter-spacing: -2px;
    line-height: 60px;
    padding: 0;
    vertical-align: middle;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .cent{
    display: inline-block;
    font-family: "Lato",sans-serif;
    font-size: 24px;
    font-weight: 400;
    vertical-align: bottom;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .month{
    font-family: "Lato",sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 3px;
    vertical-align: bottom;
}

#generic_price_table .generic_content .generic_feature_list ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

#generic_price_table .generic_content .generic_feature_list ul li{
	font-family: "Lato",sans-serif;
	font-size: 18px;
	padding: 15px 0;
	transition: all 0.3s ease-in-out 0s;
}
#generic_price_table .generic_content .generic_feature_list ul li:hover{
	transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;

}
#generic_price_table .generic_content .generic_feature_list ul li .fa{
	padding: 0 10px;
}
#generic_price_table .generic_content .generic_price_btn{
	margin: 20px 0 32px;
}

#generic_price_table .generic_content .generic_price_btn a{
    border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	-webkit-border-radius: 50px;
    display: inline-block;
    font-family: "Lato",sans-serif;
    font-size: 18px;
    outline: medium none;
    padding: 12px 30px;
    text-decoration: none;
    text-transform: uppercase;
}

#generic_price_table .generic_content,
#generic_price_table .generic_content:hover,
#generic_price_table .generic_content .generic_head_price .generic_head_content .head_bg,
#generic_price_table .generic_content:hover .generic_head_price .generic_head_content .head_bg,
#generic_price_table .generic_content .generic_head_price .generic_head_content .head h2,
#generic_price_table .generic_content:hover .generic_head_price .generic_head_content .head h2,
#generic_price_table .generic_content .price,
#generic_price_table .generic_content:hover .price,
#generic_price_table .generic_content .generic_price_btn a,
#generic_price_table .generic_content:hover .generic_price_btn a{
	transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;
} 
@media (max-width: 320px) {	
}

@media (max-width: 767px) {
	#generic_price_table .generic_content{
		margin-bottom:75px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	#generic_price_table .col-md-3{
		float:left;
		width:50%;
	}
	
	#generic_price_table .col-md-4{
		float:left;
		width:50%;
	}
	
	#generic_price_table .generic_content{
		margin-bottom:75px;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 1200px) {
}
#generic_price_table_home{
	 font-family: 'Raleway', sans-serif;
}

.text-center h1,
.text-center h1 a{
	color: #7885CB;
	font-size: 30px;
	font-weight: 300;
	text-decoration: none;
}
.demo-pic{
	margin: 0 auto;
}
.demo-pic:hover{
	opacity: 0.7;
}

#generic_price_table_home ul{
	margin: 0 auto;
	padding: 0;
	list-style: none;
	display: table;
}
#generic_price_table_home li{
	float: left;
}
#generic_price_table_home li + li{
	margin-left: 10px;
	padding-bottom: 10px;
}
#generic_price_table_home li a{
	display: block;
	width: 50px;
	height: 50px;
	font-size: 0px;
}
#generic_price_table_home .blue{
	background: #3498DB;
	transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .emerald{
	background: #2ECC71;
	transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .grey{
	background: #7F8C8D;
	transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .midnight{
	background: #34495E;
	transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .orange{
	background: #E67E22;
	transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .purple{
	background: #9B59B6;
	transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .red{
	background: #E74C3C;
	transition:all 0.3s ease-in-out 0s;
}
#generic_price_table_home .turquoise{
	background: #1ABC9C;
	transition: all 0.3s ease-in-out 0s;
}

#generic_price_table_home .blue:hover,
#generic_price_table_home .emerald:hover,
#generic_price_table_home .grey:hover,
#generic_price_table_home .midnight:hover,
#generic_price_table_home .orange:hover,
#generic_price_table_home .purple:hover,
#generic_price_table_home .red:hover,
#generic_price_table_home .turquoise:hover{
	border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
	transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .divider{
	border-bottom: 1px solid #ddd;
	margin-bottom: 20px;
	padding: 20px;
}
#generic_price_table_home .divider span{
	width: 100%;
	display: table;
	height: 2px;
	background: #ddd;
	margin: 50px auto;
	line-height: 2px;
}
#generic_price_table_home .itemname{
	text-align: center;
	font-size: 50px ;
	padding: 50px 0 20px ;
	border-bottom: 1px solid #ddd;
	margin-bottom: 40px;
	text-decoration: none;
    font-weight: 300;
}
#generic_price_table_home .itemnametext{
    text-align: center;
    font-size: 20px;
    padding-top: 5px;
    text-transform: uppercase;
    display: inline-block;
}
#generic_price_table_home .footer{
	padding:40px 0;
}

.price-heading{
    text-align: center;
}
.price-heading h1{
	color: #666;
	margin: 0;
	padding: 0 0 50px 0;
}
.demo-button {
    background-color: #333333;
    color: #ffffff;
    display: table;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    outline-color: -moz-use-text-color;
    outline-style: none;
    outline-width: medium ;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
}
.bottom_btn{
	background-color: #333333;
    color: #ffffff;
    display: table;
    font-size: 28px;
    margin: 60px auto 20px;
    padding: 10px 25px;
    text-align: center;
    text-transform: uppercase;
}
.demo-button:hover{
	background-color: #666;
	color: #FFF;
	text-decoration:none;
	
}
.bottom_btn:hover{
	background-color: #666;
	color: #FFF;
	text-decoration:none;
}

.banner{
  filter: blur();
}