

<div class="contenedor_banner">
  
  
</div>
<div class="contenedor_primer_panel">
  
  <div class="contenedor_h1">
    <h1>LAS SEÑALES MÁS PRECISAS DEL MERCADO</h1>
  </div>

  <div class="card card_contenedor text-center">
    <!-- <div class="card-header">
          Featured
        </div> -->
    <div class="card-body">
      <h5 class="card-title">Financie su cuenta de trading y logre sus metas con nuestras señales de trading
      </h5>
      <p class="card-text">
        Nuestro equipo de analistas están a su disposición analizando las 24hs del dia el mercado de forex y criptomonedas para
entregarle las mejores oportunidades comerciales.

      </p>
      <div class="contenedor-botones">
        <a [routerLink]="['/evaluaciones']" class="btn btn-warning">Servicio Premium</a>
      <a [routerLink]="['/evaluaciones']" class="btn btn-secondary">Servicio Free</a>
      
      </div>
      
    </div>
    <!-- <div class="card-footer text-muted">
          2 days ago
        </div> -->
  </div>
</div>
<div class="contenedor_segundo_panel" style="padding-top: 2rem;">
  <div class="card card_contenedor">
    <div class="lapto">
      <!-- <div class="tradingview-widget-container">
        <div id="tradingview_bac65"></div>
        <div class="tradingview-widget-copyright">
          <a href="https://www.tradingview.com/symbols/NASDAQ-AAPL/" rel="noopener" target="_blank"><span
              class="blue-text">AAPL Chart</span></a>
          by TradingView
        </div>
        <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
        <script type="text/javascript"></script>
      </div> -->
      <img src="../../assets/Modern Purple Investing Daily Tips Youtube Thumbnail (500 × 500 px) (9).png" alt="" srcset="">
    </div>
    <div class="card-body">
      <h5 class="card-title">KNG SIGNALS BRINDÓ SUS SERVICIOS A MÁS DE:
      </h5>
      <h2>12.000

      </h2>
      <h3>TRADERS FELICES
      </h3>
      <p class="card-text">
        <!-- MEDIANTE NUESTRO SISTEMA DE FONDEO. -->
        Contamos con más de 10 años de experiencia en Trading.
        Nuestro objetivo es ofrecerle servicios profesionales y de calidad, para que pueda lograr con nuestro conocimiento y
        experiencia conviertirse en un trader exitoso.
        No se preocupe por nada, nuestro equipo se encargará de hacer el trabajo por usted.
      </p>

      <div class="aline-center">
        
        <a [routerLink]="['/evaluaciones']" class="btn btn-warning ">Empezar </a>
      </div>
    </div>
  </div>
</div>

<div class="contenedor_segundo_panel" >
  <hr style="width: 80%; margin: 8rem 0;" />
  <div class="card card_contenedor">
    <div class="card-body">
      <h5 class="card-title">
        QUIENES SOMOS?

      </h5>
      <p class="card-text">
        <!-- MEDIANTE NUESTRO SISTEMA DE FONDEO. -->
        Somos un equipo de traders que ofrece las mejores señales de Forex y Crypto.
      </p>
      <h4>
        KNG es más que un proveedor de señales. Trabajamos para identificar ideas de inversión precisas con el objetivo de
maximizar las ganancias y acercarlo más a sus metas personales.
Nuestro equipo cuenta con amplia experiencia tanto en el análisis fundamental como en el técnico, lo que nos hace
abarcar dos pilares muy importantes para lograr excelentes resultados en los distintos tipos de mercados.
      </h4>
      <br>
      <div class="aline-center">
        <a [routerLink]="['/evaluaciones']" class="btn btn-warning ">Empezar </a>
      </div>
    </div>
    <div class="img_container">
      <img class="img"
        src="../../assets/forex-symbol-1.png"
        alt="fondeo">
    </div>
  </div>
  <hr style="width: 80%; margin: 8rem 0;" />
  <div class="card card_contenedor">
    <div class="img_container margin_rigth">
      <img class="img"
        src="../../assets/telefono.png"
        alt="fondeo">
    </div>
    <div class="card-body">
      <h5 class="card-title">
        NUESTROS SERVICIOS
      </h5>
      <h4>Nuestras operaciones se analizan en nuestra mesa de trading que está compuesta por 4 expertos, divididos en 4 turnos
        para cubrir las 4 sesiones del mercado (Londres, Nueva York, Tokio y Sídney)
        
      </h4>
      <p class="card-text">
        <!-- MEDIANTE NUESTRO SISTEMA DE FONDEO. -->
        Se pueden ejecutar en distintas divisas y criptomonedas, estas operaciones pueden durar diferentes plazos como puede
        ser: días, semanas o meses lo que le dará diversificación en sus trades.
        A continuación podrá observar los distintos paquetes que tenemos para que elija el que mejor se adapte a sus objetivos.
        
      </p>
      <!-- <h4>
        ¡Demuestre que podría mantener rendimientos del 6% mensual, ya
        estaría fondeado!
      </h4> -->
      <br>
      <div class="aline-center">
        <a routerLink="evaluaciones" class="btn btn-warning ">Empezar Prueba</a>
      </div>
    </div>
  </div>
  <hr style="width: 80%; margin: 8rem 0;" />
</div>

<div class="contenedor_precios" id="generic_price_table">   
<section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!--PRICE HEADING START-->
                    
                    <!--//PRICE HEADING END-->
                </div>
            </div>
        </div>
        <div class="container">
            
            <!--BLOCK ROW START-->
            <div class="row">
                <div class="col-md-4">
                
                	<!--PRICE CONTENT START-->
                    <div class="generic_content clearfix">
                        
                        <!--HEAD PRICE DETAIL START-->
                        <div class="generic_head_price clearfix">
                        
                            <!--HEAD CONTENT START-->
                            <div class="generic_head_content clearfix">
                            
                            	<!--HEAD START-->
                                <div class="head_bg"></div>
                                <div class="head">
                                    <span>Basic</span>
                                </div>
                                <!--//HEAD END-->
                                
                            </div>
                            <!--//HEAD CONTENT END-->
                            
                            <!--PRICE START-->
                            <div class="generic_price_tag clearfix">	
                                <span class="price">
                                    <span class="sign">$</span>
                                    <span class="currency">99</span>
                                    <span class="cent">.99</span>
                                    <span class="month">/MON</span>
                                </span>
                            </div>
                            <!--//PRICE END-->
                            
                        </div>                            
                        <!--//HEAD PRICE DETAIL END-->
                        
                        <!--FEATURE LIST START-->
                        <div class="generic_feature_list">
                        	<ul>
                            	<li><span>2GB</span> Bandwidth</li>
                                <li><span>150GB</span> Storage</li>
                                <li><span>12</span> Accounts</li>
                                <li><span>7</span> Host Domain</li>
                                <li><span>24/7</span> Support</li>
                            </ul>
                        </div>
                        <!--//FEATURE LIST END-->
                        
                        <!--BUTTON START-->
                        <div class="generic_price_btn clearfix">
                        	<a class="" href="">Sign up</a>
                        </div>
                        <!--//BUTTON END-->
                        
                    </div>
                    <!--//PRICE CONTENT END-->
                        
                </div>
                
                <div class="col-md-4">
                
                	<!--PRICE CONTENT START-->
                    <div class="generic_content active clearfix">
                        
                        <!--HEAD PRICE DETAIL START-->
                        <div class="generic_head_price clearfix">
                        
                            <!--HEAD CONTENT START-->
                            <div class="generic_head_content clearfix">
                            
                            	<!--HEAD START-->
                                <div class="head_bg"></div>
                                <div class="head">
                                    <span>Standard</span>
                                </div>
                                <!--//HEAD END-->
                                
                            </div>
                            <!--//HEAD CONTENT END-->
                            
                            <!--PRICE START-->
                            <div class="generic_price_tag clearfix">	
                                <span class="price">
                                    <span class="sign">$</span>
                                    <span class="currency">199</span>
                                    <span class="cent">.99</span>
                                    <span class="month">/MON</span>
                                </span>
                            </div>
                            <!--//PRICE END-->
                            
                        </div>                            
                        <!--//HEAD PRICE DETAIL END-->
                        
                        <!--FEATURE LIST START-->
                        <div class="generic_feature_list">
                        	<ul>
                            	<li><span>2GB</span> Bandwidth</li>
                                <li><span>150GB</span> Storage</li>
                                <li><span>12</span> Accounts</li>
                                <li><span>7</span> Host Domain</li>
                                <li><span>24/7</span> Support</li>
                            </ul>
                        </div>
                        <!--//FEATURE LIST END-->
                        
                        <!--BUTTON START-->
                        <div class="generic_price_btn clearfix">
                        	<a class="" href="">Sign up</a>
                        </div>
                        <!--//BUTTON END-->
                        
                    </div>
                    <!--//PRICE CONTENT END-->
                        
                </div>
                <div class="col-md-4">
                
                	<!--PRICE CONTENT START-->
                    <div class="generic_content clearfix">
                        
                        <!--HEAD PRICE DETAIL START-->
                        <div class="generic_head_price clearfix">
                        
                            <!--HEAD CONTENT START-->
                            <div class="generic_head_content clearfix">
                            
                            	<!--HEAD START-->
                                <div class="head_bg"></div>
                                <div class="head">
                                    <span>Unlimited</span>
                                </div>
                                <!--//HEAD END-->
                                
                            </div>
                            <!--//HEAD CONTENT END-->
                            
                            <!--PRICE START-->
                            <div class="generic_price_tag clearfix">	
                                <span class="price">
                                    <span class="sign">$</span>
                                    <span class="currency">299</span>
                                    <span class="cent">.99</span>
                                    <span class="month">/MON</span>
                                </span>
                            </div>
                            <!--//PRICE END-->
                            
                        </div>                            
                        <!--//HEAD PRICE DETAIL END-->
                        
                        <!--FEATURE LIST START-->
                        <div class="generic_feature_list">
                        	<ul>
                            	<li><span>2GB</span> Bandwidth</li>
                                <li><span>150GB</span> Storage</li>
                                <li><span>12</span> Accounts</li>
                                <li><span>7</span> Host Domain</li>
                                <li><span>24/7</span> Support</li>
                            </ul>
                        </div>
                        <!--//FEATURE LIST END-->
                        
                        <!--BUTTON START-->
                        <div class="generic_price_btn clearfix">
                        	<a class="" href="">Sign up</a>
                        </div>
                        <!--//BUTTON END-->
                        
                    </div>
                    <!--//PRICE CONTENT END-->
                        
                </div>
            </div>	
            <!--//BLOCK ROW END-->
            
        </div>
    </section>             
	<footer>
    	<a class="bottom_btn" style="visibility: hidden;;" >Empezar</a>
    </footer>
</div>


<!-- TradingView Widget BEGIN -->