<div class="contenedor_primer_panel">
  <div class="contenedor_h1">
    <h1>Trading Funds</h1>
  </div>

  <div class="card card_contenedor text-center">
    <!-- <div class="card-header">
          Featured
        </div> -->
    <div class="card-body">
      <h5 class="card-title">Bienvenido</h5>
      <p class="card-text">
        Our Prop Firm has multiple programs to start your journey as a Forex
        Funded Trader. Choose one of our funding programs and start trading,
        earn bonuses and profit-splits. Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Nisi, perferendis ipsam. Doloribus quibusdam suscipit
        aperiam, quam quisquam odio animi atque aliquid quaerat quos rem eaque
        corrupti ipsam, nostrum porro maxime.
      </p>
      <a href="#" class="btn btn-primary">Empezar Prueba</a>
    </div>
    <!-- <div class="card-footer text-muted">
          2 days ago
        </div> -->
  </div>
</div>
<div class="contenedor_segundo_panel">
  <div class="laptop">
    <div class="tradingview-widget-container">
      <div id="tradingview_bac65"></div>
      <div class="tradingview-widget-copyright">
        <a
          href="https://www.tradingview.com/symbols/NASDAQ-AAPL/"
          rel="noopener"
          target="_blank"
          ><span class="blue-text">AAPL Chart</span></a
        >
        by TradingView
      </div>
      <script
        type="text/javascript"
        src="https://s3.tradingview.com/tv.js"
      ></script>
      <script type="text/javascript"></script>
    </div>
  </div>
  <div class="card card_contenedor text-center">
    <div class="card-body">
      <h5 class="card-title">Bienvenido</h5>
      <p class="card-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum
        aspernatur, autem fugiat voluptatem, tempora explicabo libero reiciendis
        ipsa perspiciatis architecto voluptates beatae in blanditiis, eos amet
        commodi! Corrupti, mollitia error!
      </p>
      <a href="#" class="btn btn-primary">Empezar Prueba</a>
    </div>
  </div>
</div>

<div class="contenedor_tercer_panel">
  <hr style="width: 80%;"/> 
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">1</h5>
          <p class="card-text">
            This is a longer card with supporting text below as a natural
            lead-in to additional content. This content is a little bit longer.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">2</h5>
          <p class="card-text">
            This is a longer card with supporting text below as a natural
            lead-in to additional content. This content is a little bit longer.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">3</h5>
          <p class="card-text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Distinctio, tempora? This is a longer card with supporting text
            below as a natural lead-in to additional content.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">4</h5>
          <p class="card-text">
            This is a longer card with supporting text below as a natural
            lead-in to additional content.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">5</h5>
          <p class="card-text">
            This is a longer card with supporting text below as a natural
            lead-in to additional content.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">6</h5>
          <p class="card-text">
            This is a longer card with supporting text below as a natural
            lead-in to additional content.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="linea"></div>
</div>

<div class="contenedor_cuarto_panel">
  <hr style="width: 80%; box-shadow: 10px black;"/> 
  <div class="container1">
    <table>
      <thead>
        <tr>
          <th style="background-color: white">Propiedades</th>
          <th>20000</th>
          <th>50000</th>
          <th>100000</th>
          <th>200000</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Objetivo</td>
          <td>Cell 2</td>
          <td>Cell 3</td>
          <td>Cell 4</td>
          <td>Cell 5</td>
        </tr>
        <tr>
          <td>Dias minimos de negociacion</td>
          <td>Cell 2</td>
          <td>Cell 3</td>
          <td>Cell 4</td>
          <td>Cell 5</td>
        </tr>
        <tr>
          <td>Drawdon diario inicial</td>
          <td>Cell 2</td>
          <td>Cell 3</td>
          <td>Cell 4</td>
          <td>Cell 5</td>
        </tr>
        <tr>
          <td>Reducion general</td>
          <td>Cell 2</td>
          <td>Cell 3</td>
          <td>Cell 4</td>
          <td>Cell 5</td>
        </tr>
        <tr>
          <td>Apalancamiento disponible</td>
          <td>Cell 2</td>
          <td>Cell 3</td>
          <td>Cell 4</td>
          <td>Cell 5</td>
        </tr>
        <tr>
          <td>Tarifa de registro reembolsable</td>
          <td>Cell 2</td>
          <td>Cell 3</td>
          <td>Cell 4</td>
          <td>Cell 5</td>
        </tr>
        <tr>
          <td>Cargos mensuales</td>
          <td>Cell 2</td>
          <td>Cell 3</td>
          <td>Cell 4</td>
          <td>Cell 5</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="contenedor_quinto_panel"></div>

<!-- TradingView Widget BEGIN -->
