<div class="contenedor_primer_panel">
  <div class="contenedor_h1">
    <h1>Trading Funds</h1>
  </div>

  <div class="card card_contenedor text-center">
    <!-- <div class="card-header">
          Featured
        </div> -->
    <div class="card-body">
      <h5 class="card-title">Bienvenido</h5>
      <p class="card-text">
        Our Prop Firm has multiple programs to start your journey as a Forex
        Funded Trader. Choose one of our funding programs and start trading,
        earn bonuses and profit-splits. Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Nisi, perferendis ipsam. Doloribus quibusdam suscipit
        aperiam, quam quisquam odio animi atque aliquid quaerat quos rem eaque
        corrupti ipsam, nostrum porro maxime.
      </p>
      <a routerLink="evaluaciones" class="btn btn-primary">Empezar Prueba</a>
    </div>
    <!-- <div class="card-footer text-muted">
          2 days ago
        </div> -->
  </div>
</div>
<div class="contenedor_segundo_panel" style="padding-top: 2rem;">
  <div class="card card_contenedor">
    <div class="laptop">
      <div class="tradingview-widget-container">
        <div id="tradingview_bac65"></div>
        <div class="tradingview-widget-copyright">
          <a href="https://www.tradingview.com/symbols/NASDAQ-AAPL/" rel="noopener" target="_blank"><span
              class="blue-text">AAPL Chart</span></a>
          by TradingView
        </div>
        <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
        <script type="text/javascript"></script>
      </div>
    </div>
    <div class="card-body">
      <h5 class="card-title">DEMUESTRA TUS HABILIDADES COMO TRADER PROFESIONAL.
      </h5>
      <p class="card-text">
        <!-- MEDIANTE NUESTRO SISTEMA DE FONDEO. -->
        YA ES HORA DE QUE
        COMIENCES A GANAR GRANDES SUMAS.
        ¡Selecciona alguno de nuestros programas de financiación y comienza la
        evaluación de fondeo hoy mismo!
      </p>

      <div class="aline-center">
        <a routerLink="evaluaciones" class="btn btn-primary ">Empezar Prueba</a>
      </div>
    </div>
  </div>
</div>

<div class="contenedor_segundo_panel" >
  <hr style="width: 80%; margin: 8rem 0;" />
  <div class="card card_contenedor">
    <div class="card-body">
      <h5 class="card-title">
        QUÉ NOS DIFERENCIA DE LAS DEMÁS COMPAÑÍAS DE FONDEO?
      </h5>
      <p class="card-text">
        <!-- MEDIANTE NUESTRO SISTEMA DE FONDEO. -->
        Somos una empresa que viene a cambiar la manera en la que demuestras
        tus resultados, no te exigimos rendimientos inalcanzables, estamos acá para
        brindarte una evaluación con rentabilidades totalmente reales.
      </p>
      <h4>
        ¡Demuestre que podría mantener rendimientos del 6% mensual, ya
        estaría fondeado!
      </h4>
      <br>
      <div class="aline-center">
        <a routerLink="evaluaciones" class="btn btn-primary ">Empezar Prueba</a>
      </div>
    </div>
    <div class="img_container">
      <img class="img"
        src="https://images.pexels.com/photos/6347724/pexels-photo-6347724.jpeg?cs=srgb&dl=pexels-liza-summer-6347724.jpg&fm=jpg"
        alt="fondeo">
    </div>
  </div>
  <hr style="width: 80%; margin: 8rem 0;" />
  <div class="card card_contenedor">
    <div class="img_container margin_rigth">
      <img class="img"
        src="https://img.freepik.com/foto-gratis/cerca-personas-que-trabajan-oficina_329181-16053.jpg?w=740&t=st=1665709019~exp=1665709619~hmac=3c1ec526f69add86578dd804fcbf627bc4fd2c0e25e241cfffa7ef70dc4cf544"
        alt="fondeo">
    </div>
    <div class="card-body">
      <h5 class="card-title">
        CUAL ES SU NIVEL DE EXPERIENCIA?
      </h5>
      <h4>Tu éxito es nuestro negocio
      </h4>
      <p class="card-text">
        <!-- MEDIANTE NUESTRO SISTEMA DE FONDEO. -->
        Para una mejor experiencia y continuidad dentro de nuestro programa de
        financiación le recomendamos que mantenga una gestión de riesgo
        adecuada, recuerde que si usted pierde, nosotros perdemos, por ello
        mantenga la disciplina, nosotros haremos el resto, brindando soporte y
        condiciones comerciales óptimas para garantizar una excelente experiencia
        en forex.
      </p>
      <!-- <h4>
        ¡Demuestre que podría mantener rendimientos del 6% mensual, ya
        estaría fondeado!
      </h4> -->
      <br>
      <div class="aline-center">
        <a routerLink="evaluaciones" class="btn btn-primary ">Empezar Prueba</a>
      </div>
    </div>
  </div>
  <hr style="width: 80%; margin: 8rem 0;" />
</div>


<!-- TradingView Widget BEGIN -->